body {
    background-image: url('../images/02.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000;
    height: 100vh;
    resize: both;
    overflow: auto;
    margin: 0;
    padding: 0;
}